.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.header {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 2rem;
}

.product-list {
   flex-basis: 66.67%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart {
  flex-basis: 33.33%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-row {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}